.btn > li {
    display: inline-block;
    height: 110px;
    margin: 0;
    position: relative;
    width: 110px;
}

.btn > li a {    
    background-color: #0B9;
    border: 5px solid #0B9;
    border-radius: 500px;
    color: #fff;
    display: block;
    font-family: "Arial Black";
    font-size: 17px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    text-align: center;
    top: 15px;
    left: 15px;
    transition: all ease 0.2s;
    
}

.btn > li a:hover {
    background-color: #fff;
    color: #0B9;
    height: 100px;
    width: 100px;
    line-height: 100px;
    left: 0;
    top: 0;
}
